
@{
    ViewBag.Title = "InformationSecurityPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<div style="margin-top:180px" class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <h3 class="pt-3 pb-3">Chính sách bảo mật thông tin</h3>
            <div class="main-content">
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">1. Thu thập thông tin cá nhân</span>
                </h5>
                <p class="text-justify">
                    Các thông tin thu thập thông qua website sẽ giúp chúng tôi:
                </p>
                <p class="text-justify">
                    - Hỗ trợ khách hàng khi mua sản phẩm.
                </p>
                <p class="text-justify">
                    - Giải đáp thắc mắc khách hàng.
                </p>
                <p class="text-justify">
                    - Xem xét và nâng cấp nội dung và giao diện của Website.
                </p>
                <p class="text-justify">
                    - Thực hiện các hoạt động quảng bá liên quan đến các sản phẩm và dịch vụ của DH Flowers.
                </p>
                <p class="text-justify">
                    Để truy cập và sử dụng một số dịch vụ, quý khách có thể sẽ được yêu cầu cung cấp với chúng tôi thông tin cá nhân (Email, Họ tên, Số ĐT liên lạc…). Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp. Linh Fruits không chịu mọi trách nhiệm liên quan đến pháp luật của thông tin khai báo.
                </p>
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">2. Sử dụng thông tin cá nhân</span>
                </h5>
                <p class="text-justify">
                    DH Flowers thu thập và sử dụng thông tin cá nhân quý khách với mục đích phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này.
                </p>
                <p class="text-justify">
                    Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với bạn dưới các hình thức như: gởi thư ngỏ, đơn đặt hàng, thư cảm ơn, thông tin về kỹ thuật và bảo mật, quý khách có thể nhận được thư định kỳ cung cấp thông tin sản phẩm, dịch vụ mới, thông tin về các sự kiện sắp tới nếu quý khách đăng kí nhận email thông báo.
                </p>
            </div>
        </div>
    </div>
</div>

