
@{
    ViewBag.Title = "PaymentGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<div style="margin-top:180px" class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <h3 class="pt-3 pb-3">Hướng dẫn thanh toán</h3>
            <div class="main-content">
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">1. Chuyển khoản ngân hàng </span>
                </h5>
                <p class="text-justify">
                    Thông tin tài khoản ngân hàng:
                </p>
                <p class="text-justify">
                    - Tên tài khoản: DINH NGOC HOANG
                </p>
                <p class="text-justify">
                    - Số tài khoản: 0982313225
                </p>
                <p class="text-justify">
                    - Ngân hàng: Ngân hàng Quân Đội (MB)
                </p>
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">2. Trả tiền mặt khi nhận hàng</span>
                </h5>
                <p class="text-justify">
                    Chúng tôi cung cấp dịch vụ thanh toán khi nhận hàng, bạn có thể thanh toán bằng tiền mặt hoặc sử dụng thẻ tín dụng/tiền mặt khi nhận hàng. Đơn vị vận chuyển của chúng tôi sẽ giao hàng sau đó thu tiền tại địa chỉ bạn trong đơn hàng của bạn.
                </p>
            </div>
        </div>
    </div>
</div>

