
@{
    ViewBag.Title = "PoliciesRegulations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<div style="margin-top:180px" class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <h3 class="pt-3 pb-3">Chính sách và quy định chung</h3>
            <div class="main-content">
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">1. Chấp thuận các Điều kiện Sử dụng</span>
                </h5>
                <p class="text-justify">
                    Khi sử dụng Website của DH Flowers, Quý khách đã mặc nhiên chấp thuận các điều khoản và điều kiện sử dụng được quy định dưới đây. Để biết được các sửa đổi mới nhất, Quý khách nên thường xuyên kiểm tra lại “Điều kiện Sử dụng”.DH Flowers có quyền thay đổi, điều chỉnh, thêm hay bớt các nội dung của “Điều kiện Sử dụng” tại bất kỳ thời điểm nào. Nếu Quý khách vẫn tiếp tục sử dụng Website sau khi có các thay đổi như vậy thì có nghĩa là Quý khách đã chấp thuận các thay đổi đó.
                </p>
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">2. Tính chất của thông tin hiển thị</span>
                </h5>
                <p class="text-justify">
                    Các nội dung hiển thị trên Website nhằm mục đích cung cấp thông tin về DH Flowers, về thông tin sản phẩm và dịch vụ mà mà DH Flowers đang cung cấp. Các thông tin khác liên quan nhằm phục vụ nhu cầu tìm hiểu của khách hàng đều được ghi rõ nguồn cung cấp.
                </p>
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">3. Thông tin sản phẩm và giá cả</span>
                </h5>
                <p class="text-justify">
                    Chúng tôi cam kết cung cấp thông tin chính xác và đầy đủ về các sản phẩm mà chúng tôi cung cấp. Tuy nhiên, chúng tôi không chịu trách nhiệm đối với bất kỳ sai sót hoặc thiếu sót nào trong thông tin sản phẩm, chúng tôi có quyền thay đổi giá cả mà không cần thông báo trước. Bạn nên kiểm tra kỹ thông tin sản phẩm trước khi đặt mua.
                </p>
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">4. Quyền và trách nhiệm của người dùng</span>
                </h5>
                <p class="text-justify">
                    Khi sử dụng dịch vụ của chúng tôi, bạn cam kết cung cấp thông tin chính xác và tuân thủ các quy định và điều khoản được đề ra. Bạn chịu trách nhiệm đối với hoạt động của mình trên website và không được sử dụng dịch vụ của chúng tôi cho mục đích bất hợp pháp hoặc gây hại đến người khác.
                </p>
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">5. Thay Đổi Điều Khoản</span>
                </h5>
                <p class="text-justify">
                    Chúng tôi có quyền thay đổi các điều khoản và quy định này mà không cần thông báo trước. Việc sử dụng tiếp tục của bạn sau các thay đổi này sẽ đồng nghĩa với việc bạn chấp nhận những thay đổi đó.
                </p>
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">6. Liên hệ</span>
                </h5>
                <p class="text-justify">
                    Nếu bạn có bất kỳ câu hỏi hoặc ý kiến về Điều Khoản và Quy Định Chung này, vui lòng liên hệ với chúng tôi qua thông tin liên hệ được cung cấp trên trang web.
                </p>
            </div>
        </div>
    </div>
</div>

