
@{
    ViewBag.Title = "ShoppingGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<div style="margin-top:180px" class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <h3 class="pt-3 pb-3">Hướng dẫn mua hàng</h3>
            <div class="main-content">
                <p class="text-justify"> Sau khi lựa chọn được sản phẩm ưng ý, Quý khách có thể chọn các hình thức đặt hàng sau của DH Flowers:</p>
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">1. Đặt hàng qua Hotline: 0982 313 225</span>
                </h5>
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">2. Đặt hàng qua Website DH Flowers</span>
                </h5>
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">3. Đặt hàng qua Facebook: DH Flowers  </span>
                </h5>
                <h5>
                    <span class="font-weight-bold" style="color: #51a042;">4. Mua hàng trực tiếp tại cửa hàng DH Flowers có địa chỉ ở số 21 Quang Trung, Nguyễn Trãi, Hà Đông, Hà Nội </span>
                </h5>
            </div>
        </div>
    </div>
</div>
