
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">


<div style="margin-top:180px" class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <h3 class="pt-3">Giới thiệu về cửa hàng hoa tươi DH Flowers</h3>
            <ol class="ml-4">
                <li>
                    Bạn đang cần tìm một địa chỉ uy tín bán hoa tươi và an toàn?
                </li>
                <li>
                    Bạn ngại phải ra đường giữa trưa nắng hay trời mưa để lựa chọn hoa những dịp lễ?
                <li>
                    Bạn phân vân không biết lựa chọn thế nào là đúng để tránh chọn nhầm hoa đểu, tẩm hóa chất?
                </li>
                <li>
                    Bạn luôn lo lắng về vấn đề nguồn gốc xuất xứ hoa?
                </li>
                <li>
                    Bạn đã biết gì về hoa nhập khẩu chưa?
                </li>
                <li>
                    Bạn không biết nơi nào bán hoa nhập khẩu với giá cả hợp lý và chất lượng hết?
                </li>
                <li>
                    Bạn có thật sự quan tâm đến sức khỏe của gia đình và chính bản thân mình chưa?
                </li>
            </ol>
            <h4>=> Hãy để DH Flowers giải quyết tất cả những vấn đề này cho bạn</h4>
        </div>
    </div>
</div>

